* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma;
    color: #cae5e6;
}

body { 
    background: linear-gradient(34deg,#014639 20%,#042922);
    box-shadow: inset ;
}
th {
    width: 10%;
    text-align: left;
    padding: .5rem;
    padding-top: 2.8rem;
}

th:first-child {
    text-align: center;
}

td {
    padding: 0 0 0 .5rem;
}



.main {
    width: 80%;
    margin: auto;
    box-shadow: inset 10 10 20px #241a00;
}

/* Left Panel Start */
.left-panel {
    width: 35%;
    float: left;
    background: #018b71;
    box-shadow: inset 0 0 50px #016855,
                inset 0 0 20px #016956;
}

/* Image ------------*/
.left-panel-child {
    width: 100%;
    position: relative;
}

.left-panel img {
    width: 45%;
    height: 45%;
    border: 5px solid #f5f2f2;
    border-radius: 50%;
    position: relative;
    margin-left: 25%;
    margin-top: 20%;

}

/* Text ----------*/
.left-panel-text {
    text-align: center;
    font-family: Tahoma;
    color: #131212;
    padding: 1rem 0;
}

/* Contact ------*/
.left-panel-contact {
    padding: 2rem 3rem;
}

.left-panel-contact li {
    list-style-type: none;
    padding: .5rem;
}

/* Profile ------*/
.left-panel-profile {
    padding: 2rem;
    text-align: justify;
    line-height: 1.4rem;
}

/* Objective ----*/
.left-panel-objective {
    padding: 2rem;
    text-align: justify;
    line-height: 1.4rem;
}

.left-panel-objective li {
    list-style-type: none;
    padding: .5rem 0 0 0;
    margin-left: 1.5rem;
}

/* Left Panel End */

/* Right Panel Start */
.right-panel {
    width: 65%;
    background: linear-gradient(45deg, lightgrey 50%, grey 10%);
    background-size: 200% 10%;
    float: left;
    padding: 3rem .5rem 1rem 4rem;
    box-shadow: inset 0 0 50px #585757,
                inset 0px 0 20px #03501d;
}

.right-panel-professional-skill th {
    padding-top: 1rem;
}
.right-panel-professional-skill th:first-child {
    text-align: left;
    padding-left: 2rem;
}
.right-panel-professional-skill th:last-child {
    text-align: left
}

.right-panel-experience h4 {
    width: 80%;
    text-align: justify;
    padding: 1rem;
    line-height: 1.7rem;
}

th {
    color: black;
}

hr  {
    width: 80%;
    margin: auto;
}